In [1]:
## Aurther: Pei Lin
## Date: 2016/03/03
## Project: Children EBLL rate study in NY State

from pandas import Series, DataFrame
import pandas as pd

In [172]:
#Data Source 1 - Import
ny_BLL_zipcode = pd.read_table('/Users/applepei/Documents/WORK/Projects/BLL/NY_BLL_from2003.csv',sep=',')
ny_BLL_zipcode[:10]
ny_BLL_zipcode.info
ny_BLL_zipcode.columns

CountyCode                     26025
County                         26025
Zip                            26025
Year                           26025
Tests                           8616
10-15 mcg/dL                     819
15+ mcg/dL                       819
Total Elevated Blood Levels     1314
Rate per 1,000                  1314
Percent                         1314
County Location                  569
dtype: int64

In [173]:
#Data Source 1 - Data Quality check
ny_BLL_zipcode.notnull().sum()
ny_BLL_zipcode['Zip'].unique().size
ny_BLL_zipcode[ny_BLL_zipcode['Percent'].notnull()]['Zip'].unique().size

143

In [174]:
#Data Source 1 - Pivot table to list EBLL rates in each years in a row
NYBLLZipcodeTable1 = ny_BLL_zipcode[['CountyCode','Zip','Year','Percent']][(ny_BLL_zipcode['Percent'].notnull()) & (ny_BLL_zipcode['Zip'] != 'All')]
NYBLLZipcodeTable2=NYBLLZipcodeTable1.pivot_table(['Percent'], index=['CountyCode','Zip'], columns='Year')
NYBLLZipcodeTable2[:10]

                  Percent                                                  \
Year                 2003  2004  2005  2006  2007  2008  2009  2010  2011
CountyCode Zip
1          12047     10.6   5.7   4.6   NaN   NaN   1.9   2.1   NaN   NaN
           12189      5.3   NaN   NaN   3.1   NaN   NaN   NaN   NaN   NaN
           12202      6.6   8.1   6.5   2.9   3.4   NaN   NaN   4.0   2.6
           12203      4.6   3.5   NaN   NaN   2.9   NaN   NaN   NaN   NaN
           12206      9.8  12.8   7.0   4.2   4.3   2.3   3.3   3.2   5.5
           12208      3.0   4.6   3.2   2.3   2.5   NaN   NaN   NaN   NaN
           12209      NaN   NaN   4.1   3.5   5.3   NaN   NaN   3.0   NaN
           12210      8.6   6.3   4.7   NaN   3.2   3.0   3.0   NaN   2.4
7          13760      NaN   NaN   NaN   NaN   1.3   NaN   1.3   NaN   NaN
           13790      NaN   NaN   NaN   NaN   NaN   NaN   2.9   NaN   NaN


Year              2012
CountyCode Zip
1          12047   1.6
           12189   NaN
           12202   NaN
           12203   NaN
           12206   2.5
           12208   NaN
           12209   NaN
           12210   3.3
7          13760   NaN
           13790   NaN

In [178]:
#Data Source 1 - Find top 10 highest EBLL rate zip codes
NYBLLZipcodeSeries1 = pd.Series(NYBLLZipcodeTable2.sort([('Percent',2012)], ascending=False)[:10].index.values,index=[1,2,3,4,5,6,7,8,9,10])
NYBLLZipcodeTable3 = pd.DataFrame(NYBLLZipcodeSeries1,columns=['Zip'])
NYBLLZipcodeTable4 = pd.merge(NYBLLZipcodeTable1,NYBLLZipcodeTable3,on='Zip')
NYBLLZipcodeTable2.sort([('Percent',2012)], ascending=False)[:10]

                  Percent                                                  \
Year                 2003  2004  2005  2006  2007  2008  2009  2010  2011
CountyCode Zip
29         14208      6.8  12.5  11.6   8.0   8.2   5.0   5.1   5.9   5.1
           14211     11.6   9.3   8.6   8.3   7.3   6.0   4.2   7.0   4.5
           14212     11.9  11.3   9.0  11.3   8.5   5.8   7.5   5.7   3.7
           14213      5.5   8.2   9.1   5.3   5.5   6.3   5.6   7.4   5.9
65         13502     14.6  10.7   8.2   4.6   6.7   5.1   3.5   5.0   3.8
29         14214      5.7   4.6   3.3   3.9   4.2   3.1   2.9   3.0   2.0
117        14489      NaN   NaN   6.4   NaN   NaN   NaN   NaN   NaN   NaN
35         12078     11.2   9.6   6.4   4.0   5.8   5.2   4.4   4.1   3.2
57         12010      9.4   6.3   7.0   4.8   3.4   2.7   3.8   3.6   3.0
65         13501     14.8  12.2  12.5   7.1   7.6   5.9   5.9   6.2   4.8


Year              2012
CountyCode Zip
29         14208   6.0
           14211   5.9
           14212   4.9
           14213   4.8
65         13502   4.4
29         14214   4.3
117        14489   4.1
35         12078   4.0
57         12010   3.9
65         13501   3.5

In [176]:
#Data Source 1 - Use aggregated results at county level
NYBLLCountyTable1 = ny_BLL_zipcode[['CountyCode','Zip','Year','Percent']][(ny_BLL_zipcode['Percent'].notnull()) & (ny_BLL_zipcode['Zip'] == 'All')]
NYBLLCountyTable2=NYBLLCountyTable1.pivot_table(['Percent'], index=['CountyCode'], columns='Year')
NYBLLCountyTable2[:10]
NYBLLCountyTable2.notnull().sum()

                  Percent                                                  \
Year                 2003  2004  2005  2006  2007  2008  2009  2010  2011
CountyCode Zip
29         14208      6.8  12.5  11.6   8.0   8.2   5.0   5.1   5.9   5.1
           14211     11.6   9.3   8.6   8.3   7.3   6.0   4.2   7.0   4.5
           14212     11.9  11.3   9.0  11.3   8.5   5.8   7.5   5.7   3.7
           14213      5.5   8.2   9.1   5.3   5.5   6.3   5.6   7.4   5.9
65         13502     14.6  10.7   8.2   4.6   6.7   5.1   3.5   5.0   3.8
29         14214      5.7   4.6   3.3   3.9   4.2   3.1   2.9   3.0   2.0
117        14489      NaN   NaN   6.4   NaN   NaN   NaN   NaN   NaN   NaN
35         12078     11.2   9.6   6.4   4.0   5.8   5.2   4.4   4.1   3.2
57         12010      9.4   6.3   7.0   4.8   3.4   2.7   3.8   3.6   3.0
65         13501     14.8  12.2  12.5   7.1   7.6   5.9   5.9   6.2   4.8


Year              2012
CountyCode Zip
29         14208   6.0
           14211   5.9
           14212   4.9
           14213   4.8
65         13502   4.4
29         14214   4.3
117        14489   4.1
35         12078   4.0
57         12010   3.9
65         13501   3.5

In [179]:
#Data Source 2 - import CDC data and review data quality
CDC_NYCounty_2014_raw=pd.ExcelFile('/Users/applepei/Documents/WORK/Projects/BLL/NY_CountyLevelSummary_2014.xlsx')
CDC_NYCounty_2014 = CDC_NYCounty_2014_raw.parse(skiprows=2, index_col=None, na_values=['NA'])
CDC_NYCounty_2014.columns

Index([u'County FIPS', u'County Name', u'# of Children Tested', u'Total # Children Tested 5-9 µg/dL', u'Total Confirmed BLL ≥10 µg/dL', u'Unnamed: 5', u'# of Addresses- Multiple Children w/ Confirmed EBLLs *', u'Census 2000 Data', u'Unnamed: 8', u'Unnamed: 9'], dtype='object')

In [184]:
#Data Source 2 - Data processing, renaming field names
CDC_NYCounty_2014.columns=['CountyFIPS','CountyName','TotalTested','TotalTested5-9ug/dL','TotalBLL>=10ug/dL'
                            ,'Percent','TotalAddressesWithEBLLChildren','TotalHouseUnit','TotalHouseUnitPre1950'
                            ,'PercentChildren<6UnderPoverty']
CDC_NYCounty_2014_Table1=CDC_NYCounty_2014[['CountyFIPS','CountyName','TotalTested','TotalTested5-9ug/dL'
                                                 ,'TotalBLL>=10ug/dL','Percent','TotalHouseUnit'
                                                 ,'TotalHouseUnitPre1950']][(NY_CountyLevel_2014['CountyFIPS'].notnull())]

In [185]:
#Data Source 2 - Data processing, calculating 'Percent' value
CDC_NYCounty_2014_Table1['EBLL_Percent']=CDC_NYCounty_2014_Table1['Percent']*100.00
CDC_NYCounty_2014_Table1['OldHouse_Percent']=CDC_NYCounty_2014_Table1['TotalHouseUnitPre1950']/CDC_NYCounty_2014_Table1['TotalHouseUnit']*100.00

del CDC_NYCounty_2014_Table1['Percent']
CDC_NYCounty_2014_Table1[:10]

,CountyFIPS,CountyName,TotalTested,TotalTested5-9ug/dL,TotalBLL>=10ug/dL,TotalHouseUnit,TotalHouseUnitPre1950,EBLL_Percent,OldHouse_Percent
1,998,Unknown County,107,1,1,NaN,NaN,0.9,NaN
2,001,Albany County,879,67,17,129972,53903,1.9,41.47278
3,003,Allegany County,121,4,7,24505,10725,5.8,43.76658
4,005,Bronx County,62823,1072,182,490659,214703,0.3,43.75809
5,007,Broome County,458,26,8,88817,40117,1.7,45.16815
6,009,Cattaraugus Cou,184,14,3,39839,18681,1.6,46.89124
7,011,Cayuga County,184,23,6,35477,17959,3.3,50.62153
8,013,Chautauqua Coun,365,34,11,64900,36268,3,55.8829
9,015,Chemung County,200,18,1,37745,18499,0.5,49.01046
10,017,Chenango County,135,16,0,23890,10064,0,42.12641

In [186]:
#Data Source 2 - Data processing, preparing for joining to the top 10 table at county level
CDC_NYCounty_2014_Table1.sort(['EBLL_Percent'], ascending=False)[CDC_NYCounty_2014_Table1['TotalBLL>=10ug/dL']>10][:10]

NYBLLCountySeries1 = pd.Series(NYBLLCountyTable2.sort([('Percent',2012)]
                                ,ascending=False)[:10].index.values
                                ,index=[1,2,3,4,5,6,7,8,9,10])
NYBLLCountyTable3 = pd.DataFrame(NYBLLCountySeries1,columns=['CountyCode'])
NYBLLCountyTable3

    CountyCode
1           57
2           35
3           65
4           73
5           29
6           13
7           25
8          115
9           11
10          67

In [188]:
#Merging source 1 and source 2 table comparing EBLL results side-by-side
NYBLLCountyTable3['CountyFIPS'] = [str(item).zfill(3) for item in NYBLLCountyTable3['CountyCode']]
CrossCheckNYBLL = pd.merge(NYBLLCountyTable3, NIH_NYCountyBLL_2014_Table1, on='CountyFIPS')
CrossCheckNYBLL

,CountyCode,CountyFIPS,CountyName,TotalTested,TotalTested5-9ug/dL,TotalBLL>=10ug/dL,TotalHouseUnit,TotalHouseUnitPre1950,EBLL_Percent,OldHouse_Percent
0,57,057,Montgomery Coun,215,30,11,22522,13905,5.1,61.73963
1,35,035,Fulton County,243,48,12,27787,14357,4.9,51.66805
2,65,065,Oneida County,972,146,65,102803,48082,6.7,46.77101
3,73,073,Orleans County,88,11,4,17347,8973,4.5,51.72652
4,29,029,Erie County,3368,329,140,415868,185502,4.2,44.60598
5,13,013,Chautauqua Coun,365,34,11,64900,36268,3,55.8829
6,25,025,Delaware County,111,11,0,28952,11331,0,39.13719
7,115,115,Washington Coun,159,17,7,26794,12698,4.4,47.39121
8,11,011,Cayuga County,184,23,6,35477,17959,3.3,50.62153
9,67,067,Onondaga County,2057,141,46,196633,70520,2.2,35.86377

In [ ]:
##import matplotlib.pyplot as plt

##End of the program